AddDefaultCharset utf-8
Options -Indexes
ErrorDocument 404 https://twister-roulette.com
ErrorDocument 403 https://twister-roulette.com

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>

<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
  Header unset Cache-Control
</FilesMatch>

RewriteEngine On

RewriteRule ^be/*? index.html [L]
# RewriteRule ^cs/*? index.html [L]
RewriteRule ^de/*? index.html [L]
RewriteRule ^en/*? index.html [L]
RewriteRule ^es/*? index.html [L]
RewriteRule ^fr/*? index.html [L]
RewriteRule ^he/*? index.html [L]
RewriteRule ^hi/*? index.html [L]
RewriteRule ^it/*? index.html [L]
RewriteRule ^ja/*? index.html [L]
RewriteRule ^po/*? index.html [L]
RewriteRule ^pt/*? index.html [L]
RewriteRule ^ru/*? index.html [L]
RewriteRule ^tr/*? index.html [L]
RewriteRule ^uk/*? index.html [L]
RewriteRule ^zh/*? index.html [L]

# no www.*
RewriteCond %{HTTP_HOST} ^www.twister-roulette.com$ [NC]
RewriteRule ^(.*)$ http://twister-roulette.com/$1 [R=301,L]

# no index.*
RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html)\ HTTP
